.search-component {
	height: 50px;
	border-bottom: 1px solid #aaa;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.search-label {
	padding: 5px;
	margin: 0;
	margin-left: 5px;
	font-size: 18px;
	border: 1px solid #aaa;
	border-right: none;
	background-color: #ddd;
	color: #444;
	border-radius: 3px 0 0 3px;
}
.search-input {
	outline: none;
	flex: 1;
	padding: 5px 10px;
	font-size: 18px;
	border: 1px solid #aaa;
	margin-right: 5px;
	border-radius: 0px 3px 3px 0px;
}

@media screen and (max-width: 700px) {
	.search-component {
		margin: 0;
		height: fit-content;
	}
	.search-label {
		margin: 0;
		border: 1px solid #aaa;
		border-radius: 0;
	}
	.search-input {
		border-radius: 0;
		margin: 0;
		border-right: 1px solid #aaa;
	}
}

@media screen and (max-width: 450px) {
	.search-label,
	.search-input {
		font-size: 14px;
	}
}
