.delete-header {
	font-weight: normal;
	color: #9b0000;
	text-align: center;
}

.delete-btngroup {
	margin-top: 50px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@media screen and (max-width: 700px) {
	.delete-header {
		font-size: 18px;
		margin: 10px 0;
	}
}
